.heading{

background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h1{

font-size: 70px;
font-weight: bold;
color: white;
}

h2{

font-size: 32px;
font-weight: bold;
}

h3{

font-size: 23px;
font-weight: bold;
}

h4{

font-size: 18px;
color: white;
}

.footer{

font-size: 11px;
background-color: dimgray;
color: white;
text-align: left;
}

.new-york{

font-size: 23px;
font-weight: bold;
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
color: white;
}

body{

  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
}
